html {
  height: 100%;
  width: 100%;
}


.highlight {
  background-color: yellow;
}


#showImage {
  /* Other styles... */
  text-align: center;
}


.top-highlight {
  background-color: lightblue; /* Color for the top highlight */
  padding: 12px;
}


.word-highlight {
  background-color: yellow; /* Color for the other highlighted words */
  padding: 5px;
}
.image-container {
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Distribute images evenly */
}
.image-container {
  display: flex;
  justify-content: space-between;
}
.text-container {
  text-align: center; /* Center the text horizontally */
}